/*Paleta de colores: https://coolors.co/6c7a93-2e4fcd-ffffff-128fe5-1f3e72-6c7a93-eff2ff

Golden Tags
- #FFD200
- #FFF9DD
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* ==== COMPONENTES HTML ==== */
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-size:.8vw;
    background-image: url("img/background.svg");
    background-repeat:repeat;
    background-size: 100%;
    color:#6C7A93;
}
button{
    background-color: #2E4FCD;
    color:white !important; 
    border:none;
    border-radius:5px;
    padding:1.5vw 2vw !important;
    height:fit-content;
    font-size:1em;
}
p{
    margin-top:1vmin;
    margin-bottom:0;
    font-size:1.7em;
}
h1{
    font-size:5.5em;
}
h2{
    font-size:4em;
}
h3{
    font-size:3em;
}
h4{
    font-weight:500;
    margin-top:1vmin;
    font-size:2.5em;
}
h1,h2,h3,h4{
    color:#1F3E72;
    margin-bottom:1vmin;
}
i{
     padding:1vw;
     border-radius:3px;
     color:#2E4FCD;
     background-color:#e3e9ff;
}
input,select{
    width:100%;
    font-size:1em;
    box-sizing:border-box;
    height:2em;
    border:.1vw solid #d8e6ff;
    border-radius:.3vw;
    color:inherit;
}

/* ==== CARACTERÃSITCAS ==== */
.transparent{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:.3vw;
}
.logo{
    color:#2E4FCD;
    font-weight: bold;
    font-size:min(3vw,30px)
}
.shadow{
    box-shadow: 0 2vw 5vw -4vw  #2E4FCD81;
}

/* ==== UTILIDADES ==== */
.tag,.firstTag{
    display:flex;
    align-items: center;
    color:#1F3E72;
    font-weight: bold;
    gap:5px;
}
.tag{
    font-size:2vw;
    margin:10px 5px 0 0;
}
.primerPanel> .text,.tercerPanel> .text, .cuartoPanel> .text{
    padding:20% 10%;
    width:60%;
    box-sizing:border-box;
    height:auto;
    display:flex;
    flex-direction: column;
}
.primerPanel,.tercerPanel,.cuartoPanel{
    display:flex;
    max-height:100vw;
    position: relative;    
}
.tagContainer{
    display:flex;
    justify-content: space-between;
    gap:1vmin;
    font-size: 1.5vw;
    flex-grow:1;
    margin-top:5%;
    margin-right:30%;
}
.image > img{
    height:100%;
    width:100%;
    object-fit:cover;
}
.image{
    width:45%;
    box-sizing: border-box;
}
.primerPanel>.image{
    width:50%;
}
.tagContainer i{
    padding:0.5vmin;
    color:#FFD200;
    background-color:#FFF9DD;
}
.galeria,.f{
    display:flex;
    flex-wrap:wrap;
    gap:4vw;
}
.galeria{
    margin:2% 10% 8%;
}

.f > div,.f{
    width:100px;
    font-size: .6vw;
    flex-grow:1;
    margin:0;
}
.f > div{
    padding:6%;
}
.gallery-logo{
    font-size:2.2vw;
}

/* ==== HEADER ==== */
.header{
    position:absolute;
    top:0;
    width:100%;
    box-sizing:border-box;
    display:flex;
    justify-content:space-evenly;
    padding:3vw 2vw;
    min-width: fit-content;
    align-items: center;
    z-index: 10;
}
.menu{
    display:flex;
    justify-content:space-between;
    margin:0 1%; 
}
.menu-item{
    min-width: fit-content;
    color:gray;
    padding:10px;
    font-size:min(2vw,20px);
    font-weight: 600;
}

/* ==== PRIMER PANEL ==== */
.firstTag{
    font-size:1.5vw;
    margin:0;
}
.vacunas-img{
    width:100%;
    padding:10% 10%;
    box-sizing:border-box;
}

/* ==== SCHEDULER ====*/
.scheduler{
    display:flex;
    justify-content:space-between;
    padding:3% 7%;
    align-items:center;
    font-size:1.4vw;
    gap:1vw;
}
.scheduleContainer{
    position:absolute;
    width:75%;
    height:fit-content;
    top:75%;
    left:10%;
}
.schedule-element{
    flex-shrink:1;
}
.sheduler-element-title{
    display:flex;
    align-items:center;
    gap:1vw;
    padding-bottom:.5vw;
    font-weight: 500;
}

/* ==== SEGUNDO PANEL ==== */
.segundoPanel{
    width:50%;
    margin-left:10%;
}
/* ==== TERCER PANEL ==== */
.tercerPanel> .text{
    padding:10%;
}
.tercerPanel-gallery>div{
    padding:1.5vw;
    font-size:1.4vw;
    border:.5px solid #dee5f3
}
/* ==== CUARTO PANEL ==== */
.cuartoPanel .galeria{
 margin:0;
}
.cuartoPanel .text{
    padding:10%;
}

.gallery-title-4{
    display:flex;
    gap:5%;
}
.cuartoPanel .galeria button{
    width:100%;
    font-size:2em;
    margin-top:5%;
}
.gallery-title-4 h4{
    margin:0;
}
p{
    margin-top:5%
}
/* ==== FOOTER ==== */
.footer{
    background-color:#EFF2FF;
    padding:4% 10%;
}
.footer-menu{
    gap:30%;
    display:flex;
}
.footer-left{
    display:flex;
    justify-content: space-between;
    flex-grow:1;
}
.footer-logo{
    width:20%;
}
.footer-footer{
    display:flex;
    width:100%;
    padding-top:8vw;
}
.footer-footer>div{
    display:flex;
    gap:3%;
    flex-grow:1;
    justify-content: flex-end;
}
.footer h3{
    margin-top:0;
}
