/*Paleta de colores: https://coolors.co/6c7a93-2e4fcd-ffffff-128fe5-1f3e72-6c7a93-eff2ff*/

body{
    margin:0;
    font-family: "Segoe UI";
    font-size:15px;
}
.header{
    position:fixed;
    top:0;
    width:100vw;
    max-width: 100vw;
    box-sizing:border-box;
    display:flex;
    justify-content:space-evenly;
    padding:30px 0;
    min-width: fit-content;
    align-items: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.603);
}

.menu{
    display:flex;
    gap:2vw;
    margin:0 1%;
    
}
.menu-item{
    min-width: fit-content;
    color:gray;
    padding:10px;
    font-size:min(2vw,20px);
    font-weight: 600;
}

button{
    background-color: #2E4FCD;
    color:white !important; 
    border:none;
    border-radius:5px;
    
}

.logo{
    color:#2E4FCD;
    font-weight: bold;
    font-size:min(3vw,30px)
}

.shadow{
    box-shadow: 0 3px 6px rgba(128, 128, 128, 0.507);
}
.tag{
    display:flex;
    gap:5px;
    align-items: center;
    color:#1F3E72;
    font-weight: bold;
    font-size:14px;
}
/*Amarillo
- #FFF9DD
- #FFD200
*/

.tag > img{
    width: 25px;
}